<div class="row">
    <div class="col-md-12">
        <form action='/articles' method='POST'>
            <input id="title-field" type="text" class="form-control" placeholder="title of comment">
            <textarea id="notes-field" class="form-control" rows="3" placeholder="enter comment"></textarea>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <input id="save-button" class="btn btn-default navbar-btn" type="button" value="Save">
    </div>
    <div class="col-md-2">
        <input id="delete-button" class="btn btn-default navbar-btn" type="button" value="Delete">
    </div>
</div>